.App{
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.wrapper{
  max-width: 65vw;
  width: 100%;
}
.aside{
  max-width: 35vw;
  width: 100%;
  background:var(--bg-gray);
}
/*===================model window==========================*/

.model-window{
  position: absolute;
  z-index: 1000;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);

  width: 600px;
  height: 300px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.7);
  border-radius: var(--border-radius);
  background: white;

  /*=============animation=================*/
  opacity: 0;
  animation: modelWindowShow 0.5s forwards cubic-bezier(0.25, 1, 0.5, 1);
}


@keyframes modelWindowShow {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}
