.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

:root {
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    /*==========================================================*/
    --bg-gray: #ececec;
    --gray: #d4d4d4;
    --border-radius:5px;
    --text-red: #e74c3c;
}


.small-title{
    color: var(--text-red);
    font-weight: bold;
    font-size: 18px;
}
.title-topic{
    color: var(--text-red);
    display: flex;
    align-items: center;
    gap: 10px;
}




.title-topic::before{
    content: "";
    width: 25%;
}
.title-topic::after{
    content: "";
    flex : 1;
}
.title-topic::before,
.title-topic::after{
    content: "";
    height: 2px;
    background: var(--gray);
}




/*================list=============*/

.list-item{
    background-color: white;
    /*border: 1px solid var(--gray);*/
    border-radius: var(--border-radius);
    width: 100%;
}

.list-item:hover,.list-btn:hover{
    background-color: var( --gray);
}
.list-item:not(:last-child){
    margin-bottom: 10px;
}
.list-link{
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.list-img{
}
