.aside-nav{
    padding: 20px 10px;
}


.aside-nav__item{
    background-color: white;
    /*border: 1px solid var(--gray);*/
    border-radius: var(--border-radius);
    width: 100%;
}

.aside-nav__item:hover,.aside-nav-btn:hover{
    background-color: var( --gray);
}
.aside-nav__item:not(:last-child){
    margin-bottom: 10px;
}
.aside-nav__link{
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aside-nav-btn{
    background-color: white;
    border: none;
    padding: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-radius: var(--border-radius);
    color: var(--text-red);
    font-weight: bold;
    font-size: 18px;
}
.aside-nav-btn__img{
    margin-right: 15px;
}
