.aside-nav{
    padding: 20px 10px;
}




.aside-nav-btn__img {
    margin-right: 15px;
}
.aside-nav-btn{
    background-color: white;
    border: none;
    padding: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-radius: var(--border-radius);
}

.aside-nav-todolist,.aside-nav-todolist__title{
    margin-bottom: 50px;
}


/*=====================================TOOLS=============================*/
.aside-nav-tools__title{
    margin-bottom: 30px;
}
.aside-nav-tools__img{
    /*margin-right: 15px;*/
}
.aside-nav-tools__link {

}
